body {
  color: #4b4f54;
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a,
a:visited {
  color: #125688;
}

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.Backdrop img {
  width: 80vw;
  height: 80vw;
  max-width: 80vh;
  max-height: 80vh;
  outline: none;
}

.Backdrop.Backdrop--hidden {
  display: none;
}

.Backdrop .Grid {
  width: 100vw;
  height: 100vh;
}

.Container {
  margin: 0 auto;
  max-width: 960px;
}

.Header {
  padding: 0 20px;
  border-bottom: solid 1px #edeeee;
}

.Title {
  color: #125688;
  font-size: 24px;
  font-family: Noteworthy;
}

.Aside {
  padding: 20px 0;
}

.Main {
  background-color: #fafafa;
}

.Footer {
  background-color: #fafafa;
}

.Copyright {
  margin: auto;
  font-weight: bold;
}

.Container .Grid {
  padding: 24px;
}

.Container .Cell {
  flex-shrink: 0;
  padding: 12px;
}

.Container .Cell img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.Grid.Affiliate .Cell {
  max-width: 120px;
}

.Avatar {
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
  .Container .Grid {
    padding: 12px;
  }
  .Container .Cell {
    padding: 6px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .Container .Grid {
    padding: 0;
  }
  .Container .Cell {
    padding: 3px;
  }
}
